.reaction-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-container {
    margin-right: 8px; /* Adjust spacing between icon and counter */
  }
  
  .icon {
    width: 50px; /* Ajustez la taille comme nécessaire */
    height: 50px;
  }
  
  .icon.solid {
    color: red; /* Active state color */
    width: 100%;
  }
  
  .icon.outline {
    color: gray; /* Inactive state color */
  }
  
  .counter {
    font-size: 20px; /* Adjust size of the counter */
    font-weight: 500; /* Adjust weight of the font */
  }
  